IO_LOC "clk" H11;
IO_LOC "rst_n" T10;
IO_LOC "vol_down_n" T2;
IO_LOC "vol_up_n" D7;
IO_LOC "led[5]" L16;
IO_LOC "led[4]" L14;
IO_LOC "led[3]" N14;
IO_LOC "led[2]" N16;
IO_LOC "led[1]" A13;
IO_LOC "led[0]" C13;
IO_LOC "PA_EN" R16;
IO_LOC "HP_DIN" P15;
IO_LOC "HP_WS" P16;
IO_LOC "HP_BCK" N15;
IO_LOC "O_tmds_clk_p" G16,H15;
IO_LOC "O_tmds_data_p[0]" H14,H16;
IO_LOC "O_tmds_data_p[1]" J15,K16;
IO_LOC "O_tmds_data_p[2]" K14,K15;
IO_LOC "ulpi_stp" K11;
IO_LOC "ulpi_rst" F10;
IO_LOC "ulpi_data[7]" R12;
IO_LOC "ulpi_data[6]" P13;
IO_LOC "ulpi_data[5]" R13;
IO_LOC "ulpi_data[4]" T14;
IO_LOC "ulpi_data[3]" H13;
IO_LOC "ulpi_data[2]" J12;
IO_LOC "ulpi_data[1]" H12;
IO_LOC "ulpi_data[0]" G11;
IO_LOC "ulpi_nxt" K13;
IO_LOC "ulpi_dir" K12;
IO_LOC "ulpi_clk" T15;

IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "vol_down_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "vol_up_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "PA_EN" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "HP_DIN" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "HP_WS" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "HP_BCK" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "O_tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "O_tmds_data_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "O_tmds_data_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "O_tmds_data_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "ulpi_stp" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_rst" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "ulpi_nxt" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "ulpi_dir" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "ulpi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
